<!DOCTYPE html>
<html>
<head>
  <title>Awesome Chocolate Store</title>
<% if !params[:is_cover] %>
  <%= stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% else %>
<script src="assets/jquery.min.js"></script>
<link href="assets/bootstrap.min.css" rel="stylesheet">
<link href="assets/cover.css" rel="stylesheet">
<script src ="assets/bootstrap.min.js"></script>
<script src="assets/docs.min.js"></script>
<% end %>
  <%= csrf_meta_tags %>
</head>
<% if !params[:is_cover] %>
  <body>
    <div class ="container">
      <div class="row">
        <ul class="nav nav-pills">
          <li class="active">
          <%if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
            <% end %>
          <% end %>
        <li><a href=""><%= t('.home') %></a></li>
        <li><a href=""><%= t('.questions') %> </a></li>
        <li><a href=""><%= t('.news') %></a></li>
        <li><a href=""><%= t('.contact') %></a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
      <%#if session[:user_id] %>
        <!--ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul--!>
        <%#= button_to 'Logout', logout_path, method: :delete %>
        <%# end %>
        <%= render @cart %>
        </div>
      <% end %> 
    <%=yield %>
  </div>
 </div>
</body>
</html>
